e.cssCSS

*{
    padding: 0;
    margin: 0;

}

body{
    background-image: url(img/bg.jpg);
    font-family: verdana;
}

.tampilan{
 background: #fff;
    width: 400px;
    margin: 100px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
}
.kepala{
    background: #664b01;
    padding: 10px 22px;
    height: 60px;
}

.logo{
    background-image: url(img/logo.png);
    background-position: center;
    background-size: 60px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
}

.kepala h2.judul{
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    line-height: 20px;
}

.kesalahan{
 font-size:20px;
 color: #ff0000;
 padding: 10px 0 0 0;
 text-align: center;
}

.artikel{
    padding:10px 22px 0;
    color: #808080;
}

.artikel div.kotak{
    margin: 16px 0;
}

.kotak input[type="text"],
.kotak input[type="password"]{
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #eeeeee;
    border:none;
    color: #808080;
}

.kotak input[type="submit"]{
    background: #ff5555;
    font-size:18px;
    margin: 0 0 0 130px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}